<div class="topNav_container">
  <div class="topNavWrapper">
    <div class="topNav">
      <div class="icon" ><img (click)="showToggle()" class="hamburgerIcon" src="../../assets/menu-icon.svg" alt=""></div>
      <div class="appName">Loan Manager</div>
      <div class="userdropdownWrapper" (click)="showToggle()" id="btn"><div class="profile_initials">RB</div>
        <div *ngIf="false"   class="userdropdown" id="userdropdown">
          <a href="settings">Settings</a>
          <a href="activity">Activity</a>
          <a href="logout">Logout</a>
          </div>
      </div>
    </div>
  </div>
</div>
